.Meal{
    border-bottom: 1px #f2f2f2 solid;
    padding:20rem;
    display: flex;
    align-items: center;

}
.ImgBox{
    width: 280rem;
}

.DescBox{
    flex:auto;
}
img{
    width: 100%;
}
.Title{
    font-weight: normal;
    font-size: 36rem;
    margin:0;
    padding-bottom: 10rem;

}
.Desc{
    margin: 0;
    color: #aaa;
    font-size: 24rem;
    padding-right: 40rem;
}
.PriceWrap{
    display: flex;
    justify-content: space-between;
    margin-top: 40rem;
    padding-right: 40rem;
}
.Price{
    font-weight: bold;
    font-size: 36rem;
}
.Price::before{
    content: '$';
    font-size: 24rem;
}